[package]
name = "custom_shell-fuzz"
version = "0.0.0"
edition = "2021"
publish = false

[package.metadata]
cargo-fuzz = true

[dependencies]
libfuzzer-sys = "0.4"
custom_shell = { path = "..", default-features = false, features = ["expansion"] }

[workspace]
members = ["."]
